[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = ">=2.4.3"
pylint-exit = ">=1.1.0"
pytest = ">=5.2.2"
pytest-cov = ">=2.8.1"
autopep8 = "*"
pytest-mock = "*"

[packages]
uvicorn = "*"
starlette = "*"
python-multipart = "*"
pydantic = "*"
grpcio = "*"
protobuf = "*"

[requires]
python_version = "3.9"